.App {
  height: 100vh;
  background-color: #f7f7f7;
}

.wrapper {
  margin: 0 auto;
}

.container {
  margin: auto;
  max-width: 996px;
  padding: 48px 0;

  display: flex;
  flex-direction: column;
  gap: 32px;
}

.controls {
  display: flex;
  flex-direction: column;
  gap: 16px;

  max-width: 220px;
}

.fieldWithLabel {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.logsControlSwitch {
  display: flex;
  align-items: center;
  gap: 6px;
}
